.App-title {
    text-align:center;
}

.settings-wrapper {
    background-color: rgb(241, 200, 79);
    border-radius: 10px;
}

.settings-title {
    color: black; 
    text-align:center;
    padding-top: 1.5%;
}